<mat-card class="example-card">
  <mat-card-title>Team Generator</mat-card-title>
  <mat-card-subtitle>Generate matchups in a second</mat-card-subtitle>
  <mat-card-content>
    <mat-list role="list">
      <mat-list-item role="listitem" *ngFor="let item of competitors">{{competitor}}</mat-list-item>
    </mat-list>
    <form class="example-name-form">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Competitor's name</mat-label>
        <input 
          #competitorInput 
          matInput 
          placeholder="John Doe" 
          (input)="onCompetitorInput(competitorInput.value)">
      </mat-form-field>
      <button (click)="addCompetitor()" class="form-button" type="button" mat-raised-button color="primary">Add</button>
    </form>
    <form class="example-number-form">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Number of teams</mat-label>
        <input type="number" matInput placeholder="10">
      </mat-form-field>
      <button type="button" class="form-button" mat-raised-button>Generate</button>
    </form>
  </mat-card-content>
</mat-card>
